* {
  margin: 0;
  padding: 0;
}

body,
.word-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3b5999;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#word-display {
  margin-top: 3rem;
  font-size: 80px;
  color: #3b5999;
}

.word-input-box {
  margin-top: 4rem;
}

.word-input {
  padding: 0.5rem;
  width: 300px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 50px;
  margin-top: 3rem;
  font-size: 1rem;
}

.game-info-box {
  height: 100%;
  width: 120px;
}
#time,
#score {
  font-size: 2rem;
}

#time.redzone {
  color: red;
  font-size: 2rem;
}

.button {
  box-sizing: border-box;
  width: 200px;
  height: 35px;
  background-color: #3b5999;
  color: #fff;
  border: none;
  margin-top: 4rem;
  cursor: pointer;
}

.button.waiting:hover {
  transition: 0.1s;
  border: 3px solid orange;
}

.loading {
  background-color: #ccc;
  cursor: not-allowed;
}

#source {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

#source .original,
#source .edit {
  width: 100%;
  margin: 0.3rem 0;
}

#icon-github {
  color: black;
  font-size: 1rem;
}
#icon-youtube {
  color: #ff0000;
  font-size: 1rem;
}

#icon-keyboard {
  transform: rotate(-30deg);
}
